*{
    font-weight: 400;
}
.table {
    margin: 0px auto;
    border: 1px solid #808080;
    border-collapse: collapse; 
    margin-bottom: 100px;
}

.table td {
    border: 1px solid #808080;
    padding: 10px;
}

.dish {
    text-align: center;
    font-weight: 700;
}

.kitchen {
    font-weight: 700;
}

